.nothing-to-see {
  width: 100%;
  margin-block: 3rem;
  height: 400px !important;
  border-radius: 12px;
  border: .6rem dashed darkgray;
  fill: darkgray;
  color: darkgray;

  display: flex;
  align-items: center;
  justify-content: center;
}
