@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --inter: "Inter", sans-serif;
  font-family: var(--inter);
}


.container {
  margin-block: 4rem;
  margin-inline: auto;
  max-width: 768px;
  padding: 1rem;
  overflow-x: hidden;
}
